---
import MainLayout from "@layouts/MainLayout.astro"
import CommentCard from "public/drafts/CommentCard.astro"

const {id: blogId, title, bannerImg, content, tags, createdAt: createdString, updatedAt: updatedString, user} = Astro.props;
const {_id: userId, name: userName, photo: userPhoto} = user;

const createdAt: Date = new Date(createdString);
const dateOptions: Intl.DateTimeFormatOptions = {
	day: 'numeric',
	month: 'long',
	year: 'numeric',
	timeZone: 'Asia/Jakarta'
}

const createdAtShort = new Intl.DateTimeFormat('en-US', {timeZone: 'Asia/Jakarta'}).format(createdAt);
const createdAtLong = new Intl.DateTimeFormat('en-US', dateOptions).format(createdAt);

let updatedAt: Date | string = new Date(updatedString);
updatedAt = new Intl.DateTimeFormat('en-US').format(updatedAt);

const commentDateTest = new Date();
const commentContentTest = "KPU specifically ordered us to spend all of the money with clear proceedings. Meaning, they required a full report and specific receipts in specific format. Meaning, we gotta spend the money by its intended use in specific manner. Meaning, we gotta be honest and be such exemplary citizens of this nation with its patriotic spirit for the election day, right? Hold on. Let’s rewind for a bit, this is actually troublesome for us. The budget came just about four days before the election day and we already had all but minor transactions happened already! We already haggled for tents, tables, and chairs; we asked the neighborhood housewives to prepare food for 2 meals and 4 times of snacks…"
---

<MainLayout title={title}>
	<main class="w-full flex flex-col items-center">
		<section class="w-full max-w-[82.5rem] bg-neutral-100 h-40 sm:h-48 md:h-52 lg:h-56">
			<img src={`${import.meta.env.PUBLIC_IMG_HOST}${bannerImg}`} alt="Banner Image" class={`w-full h-full object-cover object-center ${bannerImg.includes('default') ? 'border-[2px] border-gray-300': ''}`}>	
		</section>
		<div class="blogpost-grid-container w-full max-w-[82.5rem] mb-20">
			<section class="blogpost-grid-main px-4 sm:px-5 lg:pr-7">
				<div class="flex w-full justify-between min-[400px]:justify-start mt-3 mb-2 md:px-3 md:mt-4 lg:px-4 gap-4 sm:gap-5">
					<div class="flex items-center">
						<div class="userimg-container userimg-sm mr-2 sm:mr-1">
							<img src={`${import.meta.env.PUBLIC_IMG_HOST}${userPhoto}`} alt={`${userName.split(" ")[0]}'s photo'`} class="userimg-photo">
						</div>
						<p>{userName}</p>
					</div>
					<div class="flex flex-col min-[350px]:flex-row items-center gap-x-4">
						<div class="flex items-center">
							<img src="/icons/calendar.svg" alt="Created at" class="h-4 w-fit mr-1 opacity-95">
							<p class="min-[350px]:hidden">{createdAtShort}</p>
							<p class="hidden min-[350px]:block">{createdString === updatedString ? createdAtLong : createdAtShort}</p>
						</div>
						{createdString !== updatedString ? <div class="flex items-center"><img src="/icons/calendar-plus.svg" alt="Updated at" class="h-4 w-fit mr-1 opacity-95" /><p>{updatedAt}</p></div>:<></>}
					</div>
				</div>
				<article id="blogpost-article" class="w-full md:pl-3 lg:pl-4 pb-4" data-blogid={blogId}>
					<h1 class="font-heading font-bold text-2xl mb-6" set:html={title} />
					<p set:html={content} />
					<div id="tag-list" class="mt-8" data-tags={tags.map((tag:string) => `${tag},`).join('').replace(/,$/, "")}>
						{tags.map((tag:string) => <a href={`/tags/${tag}`} class="mr-2 card-link text-blue-700">{`#${tag}`}</a>)}
					</div>
				</article>
			</section>
			<section class="blogpost-grid-comment w-full px-4 sm:px-5 flex flex-col items-center">
				<div class="w-full max-w-2xl bg-theme-blue relative translate-x-[-3px] drop-shadow-[7px_7px_0_#4267b2] py-3 px-3.5">
					<div class="flex items-center">
						<div class="userimg-container userimg-md mr-2 ml-0.5">
							<img id="comment-current-userimg" src="/images/noun-user-1256674-profile.jpg" alt="User's photo" class="userimg-photo">
						</div>
						<p id="comment-current-username" class="font-semibold text-white tracking-wide font-heading">Guest</p>
					</div>
					<form>
						<textarea name="comment-textarea" id="comment-textarea" rows="5" maxlength='1000' placeholder="What's on your mind?" disabled class="w-full rounded-lg py-2 px-3 text-base tracking-wide mt-2 outline-[#1e40af]"/>
						<div class="w-full flex justify-between">
							<p><span id="comment-textarea-count">1000</span> characters left</p>
							<button id="comment-textarea-button" class="bg-[#4267b2] hover:bg-theme-yellow text-white px-3.5 py-2 rounded-lg">Log in to Comment</button>
						</div>
					</form>
				</div>
				<div class="w-full max-w-2xl relative mt-12">
					<h2 class="font-heading text-lg font-bold tracking-wider">Comments</h2>
					<div class="w-full h-[0.2rem] bg-theme-purple mb-3"/>
					<div id="pagination-container" class="absolute top-0 right-0 translate-y-[-1rem] pagination-container">
						<button type="button" id="pagination-arrow-left" class="button-pagination rounded-l">←</button>
						<div id="pagination-number-container" class="flex items-center gap-x-[1px]">
							<button class="button-pagination-selected">1</button>
						</div>
						<button id="pagination-arrow-right" class="button-pagination rounded-r" disabled={false}>→</button>
					</div>
					<div id="comment-container" class="w-full pt-2 flex flex-col gap-5">
					</div>
				</div>
			</section>
			<section class="blogpost-grid-sidebar px-4 sm:px-5 md:pl-0 relative">
				<h2 class="font-heading text-lg font-bold tracking-wider mt-5">Explore Other Post</h2>
				<div class="w-full h-[0.2rem] bg-theme-purple mb-3"/>
				<div id="explore-card-container" class="w-full grid sm:grid-cols-2 md:grid-cols-1 gap-2 justify-items-center">
					<div id="explore-fetch-message" class="absolute hidden flex-col items-center w-full px-4 sm:px-2.5">
						<img src="/images/noun-download-6640669.png" alt="Downloading from Database" class="mt-4 px-1 w-14 filter-green-500"><p class="text-green-500 mt-3 w-full text-center text-lg mb-8">Fetching data, please&nbsp;wait...</p>
					</div>
				</div>
			</section>
		</div>
	</main>
</MainLayout>
